* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.p-ab{
    position: absolute;
}

.container{
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 10px ;
    width: 940px;
    height: 900px;
    
    position: relative;
}

.second-row{
    position: absolute;
    top:480px;
}

[class^="img-"] {
position: relative;
  margin-left: 15px;
  width: 250px;
  height: 300px;
}

[classˆ="img-"], img {
    width: 100%;
    height: auto;  
  }

  #prezzo{
      font-size: 12px;
      color: crimson;
  }

  .info-foto-green{
      background-color: rgb(3, 180, 3);
  }

  .cuore{
      position: absolute;
      right: 3px ;
      top:10px;
    }

    .sconto-red{
        position: absolute;
        background-color: red;
        top:340px;
        
    }

    .sost-green{
        position: absolute;
        background-color: rgb(63, 218, 16);
        top:340px;
        left:40px;
        
    }

    .sost-green-2{
        position: absolute;
        background-color: rgb(63, 218, 16);
        top:340px;
        
    }

    